.v-fade {
  display: inherit !important;
  /* override v-show display: none */
  transition: opacity 0.5s;
}
.v-fade[style*="display: none;"] {
  opacity: 0;
  pointer-events: none;
  /* disable user interaction */
  user-select: none;
  /* disable user selection */
}
.v-scaler {
  display: inherit !important;
  /* override v-show display: none */
  transition: all 0.1s;
}
.v-scaler[style*="display: none;"] {
  transform: scale(0.01);
}
.v-scaler-l {
  display: inherit !important;
  /* override v-show display: none */
  -webkit-animation: scaler-l 0.3s ease-out;
}
.v-scaler-l[style*="display: none;"] {
  -webkit-animation: none;
  transform: scale(0.01) translateY(0%) translateX(0%);
}
@keyframes scaler-l {
  0% {
    transform: scale(5) translateY(20%) translateX(-20%);
  }
  100% {
    transform: scale(1) translateY(0%) translateX(0%);
  }
}
/*----------------------*/
/*#region common */
.alertWithCorrectSpacings {
  margin: 10px 0px 0px 0px;
}
.loading {
  width: 30px;
  height: 30px;
  display: inline-block;
  content: '';
  background: url('/Images/loading2.gif') 0 0 no-repeat;
}
/*#endregion common */
/*----------------------*/
/*#region alert messages / notifications*/
.main-section-inner .page-error h1 {
  color: #ca5252;
  margin-left: 0;
}
.bigError,
.alertMessage {
  position: fixed;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.error-dialog .alertMessage .message-content .alert-body {
  max-height: 300px;
  overflow-y: auto;
}
.validationMessage,
.rowhas-error {
  color: #ca5252;
}
.has-error {
  border-color: #ca5252;
}
textarea:focus.has-error,
input:focus.has-error,
textarea.has-error,
input.has-error {
  border-color: #ca5252;
}
.bigError .error-content,
.alertMessage .message-content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  margin-top: -150px;
  background: #111111;
  color: #f5f5f5;
  -moz-box-shadow: 0 0 5px #666666;
  -webkit-box-shadow: 0 0 5px #666666;
  box-shadow: 0 0 5px #666666;
}
.bigError .error-content .alert-header,
.alertMessage .message-content .alert-header {
  background-color: #929271;
  color: black;
  min-height: 40px;
  /* Close button */
}
.bigError .error-content .alert-header h2,
.alertMessage .message-content .alert-header h2 {
  font-size: 18px;
  font-weight: 100;
  margin: 0;
  padding: 10px 10px 10px 15px;
  color: white;
  line-height: 30px;
}
.bigError .error-content .alert-header a.close,
.alertMessage .message-content .alert-header a.close,
.bigError .error-content .alert-header a.close:link,
.alertMessage .message-content .alert-header a.close:link,
.bigError .error-content .alert-header a.close:visited,
.alertMessage .message-content .alert-header a.close:visited,
.bigError .error-content .alert-header a.close:active,
.alertMessage .message-content .alert-header a.close:active,
.bigError .error-content .alert-header a.close:hover,
.alertMessage .message-content .alert-header a.close:hover {
  padding: 12px 15px 0 10px;
  float: right;
  margin-right: 0px;
  display: inline-block;
  width: 25px;
  height: 25px;
  color: white;
  font-size: 18px;
  text-align: center;
  opacity: 1;
  cursor: pointer;
}
.bigError .error-content .alert-header a.close:hover,
.alertMessage .message-content .alert-header a.close:hover {
  color: #e1e1e1;
}
.bigError .error-content .alert-body,
.alertMessage .message-content .alert-body {
  padding: 15px;
  color: #d0cdcd;
  background: black;
  font-size: 13px;
  min-height: 70px;
}
.bigError .error-content .alert-footer,
.alertMessage .message-content .alert-footer {
  text-align: center;
  padding: 10px 15px 10px 15px;
}
.bigError .error-content .alert-footer button,
.alertMessage .message-content .alert-footer button {
  margin: 0;
}
.bigError .error-content .alert-footer button.btn.btn-primary,
.alertMessage .message-content .alert-footer button.btn.btn-primary,
.bigError .error-content .alert-footer button.btn.btn-success,
.alertMessage .message-content .alert-footer button.btn.btn-success,
.bigError .error-content .alert-footer button.btn.btn-danger,
.alertMessage .message-content .alert-footer button.btn.btn-danger {
  background-color: #929271;
  color: white;
  cursor: pointer;
}
.bigError .error-content .alert-footer button.btn:hover,
.alertMessage .message-content .alert-footer button.btn:hover {
  background-color: #52523f;
}
/*.error-dialog , .confirm-dialog{ display:none;}*/
.error-dialog .alertMessage .message-content .alert-header {
  background-color: #ca5252;
  border-radius: 10px 10px 0 0;
}
.bigError .error-content {
  text-align: left;
  border: 1px solid #ca5252;
  color: #ca5252;
}
.bigError .error-content h2 {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 18px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ca5252;
  margin-bottom: 20px;
}
.bigError .error-content .btn-alertMessage {
  margin-top: 20px;
  text-align: center;
  margin-left: 175px;
  width: 100px;
}
.alertMessage .message-content {
  color: #777777;
}
.alertMessage .message-content .btn-alertMessage {
  margin-left: 70px;
  width: 100px;
  text-align: center;
  margin-top: 40px;
}
.page-overlay-message {
  position: absolute;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.page-overlay-message.full-overlay {
  z-index: 20000;
}
.page-overlay-message-content {
  position: fixed;
  width: 500px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
  background-color: #f5f5f5;
  padding: 15px;
  font-size: 16px;
}
.page-overlay-message-content p {
  margin-top: 10px;
}
.page-overlay-message-content img {
  float: left;
  margin-right: 20px;
}
.page-notification {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #d1d1d1;
  background-color: #fff09b;
  color: #333333;
  padding: 5px 20px 5px 20px;
  z-index: 99999;
  -moz-box-shadow: 0 0 3px #c8c8c8;
  -webkit-box-shadow: 0 0 3px #c8c8c8;
  box-shadow: 0 0 3px #c8c8c8;
  font-size: 18px;
}
.page-notification .fa {
  font-size: 22px;
  margin-right: 15px;
}
.page-notification-content {
  margin-left: 230px;
  margin-right: 50px;
}
#bigError-message .error-table td {
  width: 100%;
}
/*#endregion alert messages / notifications*/
/*----------------------*/
@media only screen and (max-width: 500px) {
  .bigError .error-content,
  .alertMessage .message-content {
    width: 400px;
    margin-left: -200px;
  }
  .page-overlay-message-content {
    width: 400px;
    margin-left: -200px;
  }
}
@media only screen and (max-width: 400px) {
  .bigError .error-content,
  .alertMessage .message-content {
    width: 350px;
    margin-left: -175px;
  }
  .page-overlay-message-content {
    width: 350px;
    margin-left: -175px;
  }
}
/*******************************/
/* Settings Viewer */
.settingsViewer {
  position: fixed;
  top: 50px;
  left: 150px;
  right: 50px;
  bottom: 50px;
  z-index: 200;
  background: black;
  border: 1px solid #bebe95;
  -webkit-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
}
.settingsViewer a {
  font-size: 11px;
}
.settingsViewer h2 {
  font-weight: 100;
  font-size: 22px;
}
.settingsViewer .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  overflow-x: auto;
  overflow-y: auto;
}
.settingsViewer input[type=text] {
  border: none;
  border-bottom: 1px solid #888888;
  background-color: transparent;
  color: #999999;
  margin-top: 5px;
}
.settingsViewer input[disabled=disabled] {
  opacity: 0.5;
}
.settingsViewer button {
  background: #bebe95;
  border: none;
  cursor: pointer;
  min-width: 100px;
  padding: 3px;
}
.settingsViewer button .fa {
  padding-right: 5px;
}
.settingsViewer button:hover {
  background: #a3a375;
}
.settingsViewer .form-item {
  margin-bottom: 10px;
}
.settingsViewer .form-item .form-lbl {
  display: inline-block;
  font-size: 12px;
  width: 170px;
  vertical-align: top;
}
.settingsViewer .info {
  float: right;
}
.settingsViewer .info td {
  font-size: 12px;
}
.settingsViewer .nav-btns {
  position: absolute;
  right: 5px;
  top: 2px;
  font-size: 18px;
}
.settingsViewer .close-btn {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  font-size: 22px;
  z-index: 10;
}
/* Settings Viewer */
/*******************************/
body {
  /*font-family: "Courier New", Courier, monospace;*/
  font-family: 'Roboto Mono', monospace;
  color: #aaaaaa;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  overflow-y: hidden;
  background: black url('../images/editor-bg.jpg') no-repeat 50% 50%;
  background-size: cover;
  height: 100%;
}
/*******************************/
.top-bar {
  background: black url('../images/editor-footer-bg.jpg') no-repeat 50% 100%;
  -webkit-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  position: fixed;
  left: 0;
  right: 0;
  top: 0px;
  height: 30px;
  z-index: 1000;
}
.top-buttons {
  color: #9b9b75;
  padding-left: 100px;
  padding-top: 5px;
  font-size: 13px;
  display: inline-block;
}
.top-buttons a,
.top-buttons a:link,
.top-buttons a:visited,
.top-buttons a:active {
  color: #76765a;
  background: transparent;
  text-decoration: none;
  font-size: 17px;
  padding-right: 3px;
}
.top-buttons a:hover {
  color: #bdbd92;
  text-decoration: none;
}
.newVersionText {
  display: inline-block;
  font-size: 11px;
  padding-left: 20px;
  vertical-align: text-top;
}
.logo {
  position: absolute;
  left: 10px;
  top: 2px;
}
.logo img {
  height: 26px;
}
/*******************************/
.footerbar {
  border-top: 1px solid #111111;
  color: #888888;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 10px;
  height: 22px;
  padding-top: 2px;
  line-height: 24px;
  background: black url('../images/editor-footer-bg.jpg') no-repeat 50% 0%;
  -webkit-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  z-index: 1000;
}
.footerbar .mouseInfo {
  position: absolute;
  right: 140px;
}
.serverVersionFooter {
  position: fixed;
  bottom: 0;
  right: 20px;
  z-index: 1001;
  font-size: 10px;
  height: 22px;
  padding-top: 2px;
  line-height: 24px;
}
.serverVersionFooter a,
.serverVersionFooter a:link,
.serverVersionFooter a:visited {
  color: #888888;
  cursor: pointer;
}
/** SCOLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
  border: none;
}
/* Track */
::-webkit-scrollbar-track {
  border: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #494926;
}
::-webkit-scrollbar-thumb:hover {
  background: #858543;
}
.memoryViewer {
  position: fixed;
  top: 30px;
  right: 310px;
  min-width: 520px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  background: black;
  border: 1px solid #bebe95;
  -webkit-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
}
.memoryViewer .memoryblock {
  padding: 10px;
  font-size: 11px;
}
.memoryViewer .nav-btns {
  margin-bottom: 10px;
  background: #bebe95;
  color: black;
  font-size: 12px;
  line-height: 18px;
  height: 20px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.memoryViewer .nav-btns .paging {
  float: left;
  text-align: left;
  padding-left: 3px;
}
.memoryViewer .nav-btns .address {
  padding-left: 30px;
}
.memoryViewer .nav-btns .pageControl {
  float: right;
  padding-right: 40px;
}
.memoryViewer .nav-btns a {
  color: black;
}
.memoryViewer .nav-btns a:hover {
  background: #929271;
  color: black;
}
.memoryViewer .addrtname {
  color: #6a783d;
  font-size: 13px;
  font-weight: 100;
}
.memoryViewer .addr {
  color: #bebe95;
}
.memoryViewer .hilite .memItm {
  background: #bebe95;
  color: black;
}
.memoryViewer .scd {
  color: #c68af5;
}
.memoryViewer .lbbl {
  color: green;
}
.memoryViewer .scd.isStart {
  color: #eacfff;
}
.memoryViewer .zone {
  color: #39b6ff;
}
.memoryViewer a {
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.memoryViewer .close-btn {
  position: absolute;
  right: 6px;
  top: 0px;
  font-size: 18px;
}
.memoryViewerSel {
  border: 1px dashed #bebe95;
  height: 20px;
  top: 83px;
  position: fixed;
  z-index: 55;
  left: 150px;
  right: 500px;
}
.myCursor {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 20px;
  margin-left: 113px;
  font-weight: bold;
  font-size: 15px;
  height: 18px;
  opacity: 1;
  z-index: 1000;
  color: white;
  pointer-events: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.myCursorA {
  animation: myCursorK 1s linear infinite;
}
@keyframes myCursorK {
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.sourceCode {
  position: fixed;
  top: 30px;
  left: 150px;
  right: 0;
  bottom: 25px;
  /*padding-right: 510px;*/
  line-height: 18px;
  font-size: 13px;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: auto;
}
.sourceCode .inner {
  /*position: relative;*/
  margin-top: 20px;
  /* to be able to scroll the end of te page*/
  margin-bottom: 800px;
  margin-left: 0px;
  margin-right: 290px;
  max-width: 850px;
}
.sourceCode .ln {
  /* border-right: 2px solid #454511;*/
  height: 18px;
  padding: 0;
}
.sourceCode .ln.hasError {
  color: #9b0000;
}
.ScLines {
  margin-left: 108px;
}
.ScLines .ln {
  width: 100%;
  min-width: 400px;
  white-space: nowrap;
}
.ScLines .ln:hover {
  background: #222222;
}
.ScLines .ln.isSelected {
  background: #312d23;
  border-right: 1px solid #f6b741;
}
.ScLines .ln.hilite {
  background: green;
  color: black;
  font-size: 20px;
  border: 1px solid green;
}
.ScLines .ln .scline {
  background: transparent;
  margin-left: 5px;
  display: inline-block;
  -webkit-touch-callout: text;
  /* iOS Safari */
  -webkit-user-select: text;
  /* Safari */
  -khtml-user-select: text;
  /* Konqueror HTML */
  -moz-user-select: text;
  /* Firefox */
  -ms-user-select: text;
  /* Internet Explorer/Edge */
  user-select: text;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.ScLines .ln .errorDetail {
  position: absolute;
  font-size: 11px;
  font-weight: bold;
  background: black;
  display: none;
}
.ScLines .ln:hover .errorDetail {
  display: block;
}
.PreScLines {
  position: absolute;
  width: 105px;
  left: 0px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.PreScLines .breakPoint {
  color: transparent;
  cursor: pointer;
}
.PreScLines .ln {
  white-space: nowrap;
}
.PreScLines .ln .debugInfo {
  width: 60px;
  display: inline-block;
}
.PreScLines .ln .l-address {
  /*position: absolute;*/
  line-height: 10px;
  font-size: 5px;
  display: inline-block;
  width: 40px;
  font-size: 11px;
  text-align: right;
}
.PreScLines .ln .asmFunCode {
  position: absolute;
  left: 500px;
  min-width: 240px;
  display: inline-block;
  text-align: left;
  color: #999999;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  height: 18px;
}
.PreScLines .ln .lnn {
  text-align: right;
  display: inline-block;
  height: 18px;
  width: 34px;
  /*position: absolute;*/
  left: -50px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.PreScLines .sc-value {
  position: absolute;
  margin-top: 0px;
  left: 400px;
  color: #9a8255;
  font-size: 11px;
  padding-left: 50px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.PreScLines .sc-value input {
  width: 40px;
  border: 1px solid #999999;
  padding: 2px;
}
.sourceCode .debugable {
  /*position: absolute;*/
  display: inline-block;
  z-index: 10;
  left: -70px;
  color: #111111;
}
.sourceCode .debugable.isBpSelected {
  color: darkred;
}
.sourceCode .zone,
.sourceCode .zonejp {
  color: #39b6ff;
}
.sourceCode .macrojp {
  color: #39f9ff;
}
.sourceCode .var {
  color: #f1b767;
}
.sourceCode .varjp {
  color: #04be9c;
}
.sourceCode .opcode {
  color: #c077f8;
}
.sourceCode .comm {
  color: #a0e937;
}
.sourceCode .lbl {
  color: #f0f167;
}
.sourceCode .instr {
  color: #3965e1;
}
.sourceCode .op {
  color: #c077f8;
}
.codeAssistPopup {
  position: absolute;
  top: 0px;
  z-index: 100;
  background: #1f1f1f;
  border-bottom: 1px solid black;
  padding: 5px;
  top: 40px;
  left: 0px;
  height: 120px;
  overflow-y: scroll;
  font-size: 10px;
  -webkit-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
}
.codeAssistPopup div {
  cursor: pointer;
}
.codeAssistPopup div:hover {
  background: #333333;
}
.codeAssistPopup .isSelected {
  background: #bbbbbb;
  color: black;
}
.codeAssistPopup .ca-name {
  min-width: 35px;
  display: inline-block;
}
@keyframes actifOpcode {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
.MemoryInfo {
  position: fixed;
  top: 29px;
  right: 110px;
  padding: 10px;
  color: #11b011;
  width: 162px;
  height: 90px;
  border: 1px solid #bebe95;
  z-index: 200;
}
.MemoryInfo .isActifOpcode {
  color: #f0f167;
  -webkit-animation: actifOpcode 0.5s ease-in-out infinite alternate;
  -moz-animation: actifOpcode 0.5s ease-in-out infinite alternate;
  animation: actifOpcode 0.5s ease-in-out infinite alternate;
}
.MemoryInfo .top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 24px;
  line-height: 22px;
  background: #bebe95;
  color: black;
}
.MemoryInfo .top-bar .nav-popupbtns {
  position: absolute;
  top: 1px;
  right: 8px;
}
.MemoryInfo .top-bar .nav-popupbtns a,
.MemoryInfo .top-bar .nav-popupbtns a:link,
.MemoryInfo .top-bar .nav-popupbtns a:active,
.MemoryInfo .top-bar .nav-popupbtns a:hover {
  color: #222222;
  cursor: pointer;
}
.MemoryInfo .top-bar .nav-popupbtns a:hover {
  color: black;
  cursor: pointer;
}
.MemoryInfo .top-bar .ProgramCounter {
  position: absolute;
  top: 1px;
  left: 5px;
}
.MemoryInfo .StackPointer {
  position: absolute;
  top: 28px;
  left: 10px;
}
.MemoryInfo .StatusRegister {
  position: absolute;
  top: 48px;
  left: 10px;
}
.MemoryInfo .Accumulator {
  position: absolute;
  top: 70px;
  text-align: center;
  left: -1px;
  right: -1px;
  border: 1px solid #bebe95;
}
.MemoryInfo .RegisterX {
  position: absolute;
  top: 90px;
  left: -1px;
  width: 90px;
  text-align: center;
  border: 1px solid #bebe95;
}
.MemoryInfo .RegisterY {
  position: absolute;
  top: 90px;
  left: 90px;
  text-align: center;
  width: 91px;
  border: 1px solid #bebe95;
}
.home {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 820px;
  left: 50%;
  margin-left: -390px;
  overflow-y: scroll;
}
.home .logo-home {
  margin-top: 20px;
  margin-bottom: 20px;
}
.home a,
.home a:link,
.home a:visited,
.home a:active {
  color: #bfbf1c;
  text-decoration: none;
}
.home a:hover {
  color: #bdbd92;
  text-decoration: none;
}
.home .CodeAssist,
.home .screenshot1 {
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
}
.nonresponsiveDesign {
  display: none;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .nonresponsiveDesign {
    display: block;
    margin-bottom: 40px;
  }
  body {
    overflow: auto;
    height: inherit;
    padding: 0;
  }
  .home {
    width: 400px;
    padding: 5px;
    margin-left: 0px;
    left: 0;
    position: relative;
    overflow: auto;
  }
  .home .logo-home {
    margin-top: 2px;
  }
  .home .screenshot1,
  .home .CodeAssist {
    width: 380px;
  }
}
.avatar {
  position: fixed;
  z-index: 10000;
  left: 0px;
  bottom: 24px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.avatar .entertainer-name {
  padding: 3px 5px 3px 5px;
}
.avatar .entertainer {
  opacity: 0.4;
  cursor: pointer;
}
.avatar .entertainer:hover {
  opacity: 1;
}
.avatar .entertainer.mouseActive {
  opacity: 1;
}
.avatar .chat {
  position: absolute;
  max-height: 250px;
  bottom: 180px;
  left: 2px;
  font-size: 11px;
  -webkit-box-shadow: 0px 0px 36px 6px #000000;
  -moz-box-shadow: 0px 0px 36px 6px #000000;
  box-shadow: 0px 0px 36px 6px #000000;
}
.avatar .chat .chatItem {
  float: right;
  width: 200px;
  text-align: right;
  clear: both;
  background: #1e4d68;
  margin-left: 20px;
  padding: 2px 5px 2px 5px;
  border-radius: 7px;
  margin-bottom: 1px;
}
.avatar .chat .chatItem.isEntertainer {
  float: left;
  text-align: left;
  clear: both;
  background: #482462;
  margin-left: 0px;
  margin-right: 20px;
}
.avatar .avatar-menu {
  position: absolute;
  left: 100px;
  bottom: 50px;
  z-index: 10100;
  background: #333333;
  font-size: 11px;
}
.avatar .avatar-menu .menu-childs {
  display: inline-block;
}
.avatar .avatar-menu .menu-item {
  border-bottom: 1px solid #343434;
  background: #121212;
  min-width: 100px;
  white-space: nowrap;
}
.avatar .avatar-menu .menu-item .menu-label {
  padding: 1px 5px 1px 5px;
  cursor: pointer;
  display: inline-block;
}
.avatar .avatar-menu .menu-item .menu-label:hover {
  background: #333333;
}
.fullPageInfo {
  position: fixed;
  top: 50px;
  left: 235px;
  right: 50px;
  bottom: 50px;
  padding: 20px;
  overflow-x: auto;
  overflow-y: auto;
  z-index: 150;
  background: black;
  border: 1px solid #bebe95;
  -webkit-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
}
.fullPageInfo h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 100;
  font-size: 30px;
}
.fullPageInfo .nav-btns {
  position: absolute;
  right: 5px;
  top: 2px;
  font-size: 18px;
}
.fullPageInfo .nav-btns a {
  cursor: pointer;
}
.table1 {
  font-size: 11px;
}
.table1 tr:hover {
  background: #222222;
}
.table1 td {
  vertical-align: top;
}
.table1 td:nth-child(1) {
  width: 180px;
}
.table1 td:nth-child(2) {
  width: 160px;
}
.projectManager {
  position: fixed;
  top: 50px;
  left: 170px;
  right: 50px;
  bottom: 50px;
  z-index: 200;
  border: 1px solid #bebe95;
  background: black url('../images/editor-bg.jpg') no-repeat 0 0;
  -webkit-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
}
.projectManager .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  overflow-x: auto;
  overflow-y: auto;
}
.projectManager .project-form {
  max-width: 550px;
}
.projectManager h2 {
  font-weight: 100;
}
.projectManager a {
  font-size: 11px;
}
.projectManager.pojectIsDownloading .webProjects {
  opacity: 0.3;
}
.projectManager.pojectIsDownloading .localProjects {
  opacity: 0.3;
}
.projectManager input[type=text] {
  border: none;
  border-bottom: 1px solid #888888;
  background-color: transparent;
  color: #999999;
  margin-top: 5px;
}
.projectManager input[disabled=disabled] {
  opacity: 0.5;
}
.projectManager button {
  background: #bebe95;
  border: none;
  cursor: pointer;
  min-width: 100px;
  padding: 3px;
}
.projectManager button .fa {
  padding-right: 5px;
}
.projectManager button:hover {
  background: #a3a375;
}
.projectManager .form-item {
  margin-bottom: 10px;
  word-wrap: break-word;
}
.projectManager .form-item .form-lbl {
  width: 160px;
  display: inline-block;
  font-size: 13px;
}
.projectManager .info {
  float: right;
}
.projectManager .info td {
  font-size: 12px;
}
.projectManager .nav-btns {
  position: absolute;
  right: 5px;
  top: 2px;
  font-size: 18px;
}
.projectManager .footernote {
  position: fixed;
  bottom: 45px;
  right: 60px;
  max-width: 500px;
  font-size: 10px;
}
.projectManager .webProjects {
  float: right;
  clear: right;
  position: relative;
  max-width: 720px;
  margin-bottom: 30px;
}
.projectManager .webProjects .project {
  border: 1px solid transparent;
  position: relative;
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: 5px;
  border-bottom: 1px solid #333333;
  height: 100px;
  font-size: 10px;
  width: 350px;
  float: left;
  overflow-y: hidden;
}
.projectManager .webProjects .project .pr-name {
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 120px;
}
.projectManager .webProjects .project .pr-description {
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 120px;
}
.projectManager .webProjects .project .pr-scr {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 110px;
  max-height: 90px;
}
.projectManager .webProjects .project .pr-dev {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 60px;
  z-index: 2;
}
.projectManager .webProjects .project:hover {
  border: 1px solid #bfbf1c;
}
.projectManager .close-btn {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  font-size: 22px;
  z-index: 10;
}
.Computer {
  position: fixed;
  z-index: 1100;
  top: 0px;
  right: 50px;
}
.computerDetail {
  position: fixed;
  top: 50px;
  left: 150px;
  right: 50px;
  bottom: 50px;
  z-index: 200;
  padding: 30px;
  background: black;
  border: 1px solid #bebe95;
  -webkit-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
}
.computerDetail h2 {
  font-weight: 100;
  font-size: 25px;
}
.asmPlayerManager {
  position: fixed;
  top: 50px;
  left: 150px;
  right: 50px;
  bottom: 50px;
  z-index: 130;
  background: black;
  border: 1px solid #bebe95;
  -webkit-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  padding: 20px;
  font-size: 12px;
}
.asmPlayerManager a {
  font-size: 12px;
}
.asmPlayerManager h2 {
  font-weight: 100;
  font-size: 22px;
}
.asmPlayerManager .confirmLicense {
  margin-left: 250px;
}
.asmPlayerManager .downloadheader {
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
  margin-left: 250px;
  display: inline-block;
}
.asmPlayerManager .downloadheader .osSelected img {
  width: 80px;
}
.asmPlayerManager .downloadheader .osSelected:hover {
  transform: scale(1);
}
.asmPlayerManager .downloadheader .osSelected:hover img {
  width: 80px;
}
.asmPlayerManager .downloadheader .osSelected a,
.asmPlayerManager .downloadheader .osSelected a:link,
.asmPlayerManager .downloadheader .osSelected a:visited,
.asmPlayerManager .downloadheader .osSelected a:active {
  color: #bebe95;
}
.asmPlayerManager .downloadheader a {
  display: inline-block;
  font-size: 14px;
  margin-right: 40px;
  width: 70px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.asmPlayerManager .downloadheader a img {
  width: 50px;
  display: inline-block;
  margin-bottom: 5px;
}
.asmPlayerManager .downloadheader a:hover {
  transform: scale(1.2);
}
.asmPlayerManager .downloadheader a:hover img {
  width: 70px;
}
.asmPlayerManager .downloadBlock {
  margin-bottom: 10px;
}
.asmPlayerManager .downloadBlock .downloadText {
  display: inline-block;
  width: 250px;
}
.asmPlayerManager .downloadBlock .download,
.asmPlayerManager .downloadBlock .downloadheader {
  display: inline-block;
  margin-right: 10px;
}
.asmPlayerManager input {
  cursor: pointer;
}
.asmPlayerManager .linkdisabled {
  opacity: 0.4;
}
.asmPlayerManager .linkdisabled a {
  pointer-events: none;
}
.asmPlayerManager .nav-btns {
  position: absolute;
  right: 5px;
  top: 2px;
  font-size: 18px;
}
.asmPlayerManager .close-btn {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  font-size: 22px;
  z-index: 10;
}
.videoManager {
  position: fixed;
  top: 50px;
  left: 150px;
  right: 50px;
  bottom: 50px;
  z-index: 200;
  background: black;
  border: 1px solid #bebe95;
  -webkit-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
}
.videoManager h3 {
  color: #c4c480;
}
.videoManager .vAddress {
  color: #a9a98b;
}
.videoManager .rawBinaryData {
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 8px;
  color: #777777;
}
.videoManager .table-cont {
  min-height: 170px;
}
.videoManager a {
  font-size: 13px;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.videoManager h2 {
  font-weight: 100;
  font-size: 22px;
}
.videoManager select {
  background: #222222;
  border: 1px solid #666666;
  color: #999999;
  font-size: 11px;
}
.videoManager .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  overflow-x: auto;
  overflow-y: auto;
}
.videoManager .nav-btns {
  position: absolute;
  right: 5px;
  top: 2px;
  font-size: 18px;
}
.videoManager .close-btn {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  font-size: 22px;
  z-index: 10;
}
.videoManager .btn-reload {
  position: absolute;
  top: 10px;
  right: 100px;
}
.videoManager .palette {
  float: left;
  margin-right: 20px;
  font-size: 10px;
}
.videoManager .palette .paletteColors {
  width: 208px;
}
.videoManager .palette .paletteColor {
  display: inline-block;
  float: left;
  width: 13px;
  height: 13px;
  font-size: 1px;
  cursor: pointer;
}
.videoManager .palette .selectedColor {
  clear: both;
  padding-top: 10px;
}
.videoManager .palette .pallete-adr-list {
  font-size: 8px;
  color: #666666;
  max-width: 208px;
  height: 150px;
  max-height: 150px;
  overflow-y: scroll;
}
.videoManager .palette .pallete-adr-list span {
  display: inline-block;
  width: 68px;
}
.videoManager .palette .pallete-adr-list::-webkit-scrollbar {
  display: none;
}
.videoManager table tr,
.videoManager table td {
  font-size: 10px;
}
.videoManager .layers {
  float: left;
  margin-right: 20px;
  font-size: 10px;
}
.videoManager .layers .layerInfo {
  float: left;
  margin-right: 20px;
}
.videoManager .layers .Canvas-cont {
  width: 208px;
}
.videoManager .layers .LayerCanvas {
  width: 100%;
  object-fit: contain;
}
.videoManager .Sprites {
  float: left;
  margin-right: 20px;
  font-size: 10px;
}
.videoManager .Sprites .spriteCanvas {
  cursor: pointer;
}
.videoManager .Sprites select {
  width: 90px;
}
.videoManager .Composer {
  float: left;
  margin-right: 20px;
  font-size: 10px;
}
@font-face {
  font-family: 'robot';
  src: url('../fonts/roboto.ttf') format('truetype');
}
a,
a:link,
a:visited,
a:active,
a:hover {
  color: #bfbf1c;
  text-decoration: none;
}
a:hover {
  color: #e8e80c;
}
button.btn {
  display: inline-block;
  background: #666666;
  border: none;
  padding: 3px 0 3px 0;
}
.files {
  padding-top: 10px;
  position: fixed;
  top: 30px;
  left: 0;
  height: 300px;
  width: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #111111;
  border-bottom: 1px solid #111111;
}
.files .fileName {
  white-space: nowrap;
  padding-left: 5px;
  font-size: 11px;
  line-height: 16px;
}
.files .selectableFile {
  cursor: pointer;
}
.Dissasembly {
  position: fixed;
  left: 0px;
  top: 340px;
  overflow-y: no-display;
  width: 140px;
  z-index: 20;
  border-right: 1px solid #111111;
  border-bottom: 1px solid #111111;
  padding: 5px;
  font-size: 11px;
  background: transparent;
  color: #555555;
}
.Dissasembly:hover {
  color: #999999;
}
.Dissasembly .title {
  margin-bottom: 8px;
}
.labels {
  position: fixed;
  right: 110px;
  top: 144px;
  bottom: 60px;
  min-width: 185px;
  min-height: 50px;
  bottom: 27px;
  z-index: 51;
}
.labels .listing {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  line-height: 12px;
}
.labels .listing::-webkit-scrollbar {
  display: none;
}
.labels .ad {
  padding-right: 10px;
}
.labels .hilite {
  background: green;
  color: black;
}
.labels table,
.labels tr,
.labels td {
  font-size: 10px;
  color: #11b011;
  margin: 0;
  padding: 0;
}
.stack {
  position: fixed;
  right: 25px;
  top: 35px;
  bottom: 30px;
  color: #11b011;
  width: 70px;
  font-size: 10px;
  padding: 5px;
  z-index: 50;
  overflow-y: scroll;
}
.stack .title {
  margin-bottom: 8px;
}
.stack .stackOpcode {
  color: #f0f167;
  -webkit-animation: actifOpcode 0.5s ease-in-out infinite alternate;
  -moz-animation: actifOpcode 0.5s ease-in-out infinite alternate;
  animation: actifOpcode 0.5s ease-in-out infinite alternate;
}
.stack::-webkit-scrollbar {
  display: none;
}
.isSelected {
  background: #333333;
}
.statusRBar {
  width: 7px;
  font-size: 1px;
  position: fixed;
  top: 34px;
  bottom: 25px;
  right: 0px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  pointer-events: none;
}
.statusRBar .error {
  position: absolute;
  background: #9b0000;
  height: 5px;
  width: 7px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.Compilation {
  position: absolute;
  left: 150px;
  bottom: 4px;
  z-index: 1200;
  text-align: left;
}
.Compilation .c-link-btn .fa {
  font-size: 14px;
}
.Compilation .c-link-btn a,
.Compilation .c-link-btn a:link,
.Compilation .c-link-btn a:visited,
.Compilation .c-link-btn a:active {
  color: #76765a;
  background: transparent;
  text-decoration: none;
  font-size: 12px;
  padding-right: 3px;
}
.Compilation .c-link-btn a:hover {
  color: #bdbd92;
  text-decoration: none;
}
.Compilation .close-btn {
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
  font-size: 18px;
  z-index: 10;
}
.Compilation .OutputWindow {
  position: absolute;
  left: 0px;
  bottom: 21px;
  border: 1px solid #333333;
  padding: 5px;
  font-size: 11px;
  background: black;
  -webkit-box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.9);
  z-index: 90;
  word-wrap: break-word;
}
.Compilation .OutputWindow .CompilationResult {
  min-width: 300px;
  max-width: 600px;
  max-height: 110px;
  overflow-y: scroll;
  padding-bottom: 20px;
}
.Compilation .OutputWindow .CompilationResult .hasErrors {
  color: #9b0000;
}
.Compilation .OutputWindow h3 {
  font-size: 14px;
  font-weight: 100;
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}