@import "colors";
@import "appcomon";
@import "settings";
@import "pagelayout";
@import "memoryviewer";
@import "sourcecode";
@import "codeassist";
@import "memoryinfo";
@import "home";
@import "avatar";
@import "fullpageinfo";
@import "projectmanager";
@import "computer";
@import "asmplayermanager";
@import "videomanager";
@import "filemanager";
@import "paintermanager";
@import "breakpoints";
@import "findreplace";


@font-face {
    font-family: 'robot';
    src: url('../fonts/roboto.ttf') format('truetype');
}
@footerHeight: 25px;

a , a:link , a:visited, a:active , a:hover {
    color: @color-yellow;
    text-decoration:none;
}
a:hover {
    color: @color-yellow-lighter;
}

    button.btn {
        display: inline-block;
        background: #666666;
        border: none;
        padding: 3px 0 3px 0;
    }



    .files {
        padding-top: 10px;
        position: fixed;
        top: 30px;
        left: 0;
        height: 300px;
        width: 150px;
        overflow-x: hidden;
        overflow-y: auto;
        border-right: 1px solid #111111;
        border-bottom: 1px solid #111111;

        .fileName {
            white-space: nowrap;
            padding-left: 5px;
            font-size: 11px;
            line-height: 16px;
        }

        .selectableFile {
            cursor: pointer;
        }
    }


    .Dissasembly {
        position: fixed;
        left: 0px;
        top: 340px;
        overflow-y: no-display;
        width: 140px;
        z-index: 20;
        border-right: 1px solid #111111;
        border-bottom: 1px solid #111111;
        padding: 5px;
        font-size: 11px;
        background: transparent;
        color: #555555;

        &:hover {
            color: #999999;
        }

        .title {
            margin-bottom: 8px;
        }
    }
    //
.search-field {
    input {
        font-size:10px;
        background:transparent;
        border:none;
        border-bottom: 1px solid #666666;
        padding-left:5px;
        color: #aaaaaa;
        display:inline-block;
        width:170px;
    }
    a{cursor:pointer; vertical-align:middle;}
}
.code-nav {
    position: fixed;
    right: 110px;
    top: 150px;
    bottom: 60px;
    min-width: 185px;
    min-height: 50px;
    bottom: @footerHeight+2;
    z-index: 51;

    .code-nav-top {
        font-size: 12px;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
        a, a:link, a:visited, a:hover {
            display: inline-block;
            background: #a1a17b;
            color: black;
            float: left;
            padding: 1px 8px 1px 8px;
            cursor: pointer;
            border-radius: 5px 5px 0 0;
            margin-right: 1px;

            &.selected {
                background: #222222;
                color: #a1a17b;
            }
        }
    }

    .listing {
        clear: both;
        line-height: 12px;
        width: 200px;
        border: 1px solid #313126;
        position: relative;
        height: 100%;
    }

    .listing-table {
        width: 100%;
        position: absolute;
        top: 20px;
        bottom: 20px;
        overflow-y: scroll;
        overflow-x: hidden;
    }


    .ad {
        padding-right: 10px;
    }



    table, tr, td {
        font-size: 10px;
        margin: 0;
        padding: 0;
    }

    td {
        padding-right: 5px;
    }

    .variables {
        table, tr, td {
            color: @color-lbl-memory;

            &.hilite {
                background: @color-lbl-memory;
                color: black;
            }
        }

        .p-name{
            display:inline-block;
            width:100px;
            overflow-x:hidden;
        }
    }

    .labels {
        table, tr, td {
            color: @color-label;

            &.hilite {
                background: @color-label;
                color: black;
            }
        }
    }

    .macros {
        table, tr, td {
            color: @color-macro;

            .parameters {
                color: #777777;
                font-size: 9px;
            }
        }
    }

    .labels, .macros {
        tr {
            cursor: pointer;

            &:hover {
                background: #3d3d30;
            }
        }
    }
}



    .stack {
        position: fixed;
        right: 25px;
        top: 35px;
        bottom: 30px;
        color: #11b011;
        width: 70px;
        font-size: 10px;
        padding: 5px;
        z-index: 50;
        overflow-y: scroll;

        .title {
            margin-bottom: 8px;
        }

        .isActifOpcode {
            color: #f0f167;
            -webkit-animation: actifOpcode 0.5s ease-in-out infinite alternate;
            -moz-animation: actifOpcode 0.5s ease-in-out infinite alternate;
            animation: actifOpcode 0.5s ease-in-out infinite alternate;
        }
    }

    .stack::-webkit-scrollbar {
        display: none;
    }







    .isSelected {
        background: #333333;
    }


    .statusRBar {
        width: 7px;
        font-size: 1px;
        position: fixed;
        top: 34px;
        bottom: @footerHeight;
        right: 0px;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
        pointer-events: none;

        .error {
            position: absolute;
            background: #9b0000;
            height: 5px;
            width: 7px;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
        }
    }


.Compilation {
    position: absolute;
    left: 150px;
    bottom: 4px;
    z-index: 1200;
    text-align: left;

    .c-link-btn {
        .fa {
            font-size: 14px;
        }

        a, a:link, a:visited, a:active {
            color: #76765a;
            background: transparent;
            text-decoration: none;
            font-size: 12px;
            padding-right: 3px;
        }

        a:hover {
            color: #bdbd92;
            text-decoration: none;
        }
    }

    .close-btn {
        position: absolute;
        right: 3px;
        top: 3px;
        cursor: pointer;
        font-size: 18px;
        z-index: 10;
    }

    .OutputWindow {
        position: absolute;
        left: 0px;
        bottom: 21px;
        border: 1px solid #333333;
        padding: 5px;
        font-size: 11px;
        background: black;
        -webkit-box-shadow: 0px 0px 26px 6px rgba(0,0,0,0.9);
        -moz-box-shadow: 0px 0px 26px 6px rgba(0,0,0,0.9);
        box-shadow: 0px 0px 26px 6px rgba(0,0,0,0.9);
        z-index: 90;
        word-wrap: break-word;

        .CompilationResult {
            min-width: 300px;
            max-width: 600px;
            max-height: 110px;
            overflow-y: scroll;
            padding-bottom: 20px;

            .hasErrors {
                color: @color-errortext;
            }

            table, tr, td {
                font-size: 11px;
                color: @color-errortext;
            }
            tr{
                cursor:pointer;
            }

            table {
                margin-bottom: 20px;
                border-top: 1px solid #444444;
                border-bottom: 1px solid #444444;
                width: 100%;
            }
        }



        h3 {
            font-size: 14px;
            font-weight: 100;
            padding: 0;
            margin: 0;
            padding-bottom: 5px;
        }
    }
}
