
.asmPlayerManager {
    position: fixed;
    top: 50px;
    left: 150px;
    right: 50px;
    bottom: 50px;
    z-index: 130;
    background: black;
    border: 1px solid #bebe95;
    -webkit-box-shadow: 0px 0px 36px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 36px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 36px 6px rgba(0,0,0,0.75);
    font-size: 12px;

    a {
        font-size: 12px;
        cursor: pointer;
    }

    h2 {
        font-weight: 100;
        font-size: 22px;
    }

    h3 {
        font-weight: 100;
        font-size: 18px;
    }

    .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px;
        overflow-x: auto;
        overflow-y: auto;
        padding: 20px;
    }

    input[type=text] {
        border: none;
        border-bottom: 1px solid #888888;
        background-color: transparent;
        color: #999999;
        margin-top: 5px;
    }

    input[disabled=disabled] {
        opacity: 0.5;
    }

    .confirmLicense {
        margin-left: 250px;
    }

    .number {
        font-size: 30px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: inline-block;
        color: black;
        background: #bebe95;
        text-align: center;
        margin-right: 20px;
    }

    .downloadheader {
        margin-top: 50px;
        margin-bottom: 40px;
        text-align: center;
        margin-left: 250px;
        display: inline-block;

        .osSelected {
            img {
                width: 80px;
            }

            &:hover {
                img {
                    width: 80px;
                }

                transform: scale(1);
            }

            a, a:link, a:visited, a:active {
                color: #bebe95;
            }
        }

        a {
            display: inline-block;
            font-size: 14px;
            margin-right: 40px;
            width: 70px;
            text-align: center;
            transition: all .2s ease-in-out;

            img {
                width: 50px;
                display: inline-block;
                margin-bottom: 5px;
            }

            &:hover {
                img {
                    width: 70px;
                }

                transform: scale(1.2);
            }
        }
    }

    .downloadBlock {
        margin-bottom: 10px;

        .downloadText {
            display: inline-block;
            width: 250px;
        }

        .download, .downloadheader {
            display: inline-block;
            margin-right: 10px;
        }
    }

    .download-large {
        margin-top:20px;
        margin-bottom:40px;
        margin-left:300px;
        a.btn-default {
            font-size: 20px;
            color:black;
            padding: 2px 25px 2px 25px;
            border-radius:5px;
        }
    }

    input {
        cursor: pointer;
    }

    .linkdisabled {
        opacity: 0.4;

        a {
            pointer-events: none;
        }
    }

    .nav-btns {
        position: absolute;
        right: 5px;
        top: 2px;
        font-size: 18px;
    }

    .close-btn {
        position: absolute;
        right: 10px;
        top: 5px;
        cursor: pointer;
        font-size: 22px;
        z-index: 10;
    }
}
