/*******************************/
/* Documentation */
.documentation {
  position: fixed;
  top: 30px;
  width: 60%;
  right: 0px;
  bottom: 30px;
  z-index: 200;
  background: black;
  border: 1px solid #bebe95;
  box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
  -webkit-touch-callout: text;
  /* iOS Safari */
  -webkit-user-select: text;
  /* Safari */
  /* Konqueror HTML */
  /* Firefox */
  -ms-user-select: text;
  /* Internet Explorer/Edge */
  user-select: text;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.documentation a {
  font-size: 11px;
}
.documentation h2 {
  font-weight: 100;
  font-size: 22px;
  margin-top: 0;
}
.documentation .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  overflow-x: auto;
  overflow-y: auto;
}
.documentation .nav-btns {
  position: absolute;
  z-index: 10;
  right: 5px;
  top: 2px;
}
.documentation .nav-btns a {
  font-size: 13px;
  cursor: pointer;
}
.documentation .nav-btns a.close-btn {
  font-size: 22px;
}
.documentation h3 {
  cursor: pointer;
}
.documentation .showByAddressList .docCode {
  cursor: pointer;
}
.documentation .showByAddressList tr:hover {
  background: black;
}
.documentation .docFunctionDetail {
  clear: both;
  border-bottom: 1px solid #333333;
  margin-bottom: 80px;
}
.documentation .docFunctionTitle {
  cursor: pointer;
}
.documentation .docFunctionTitle.IsOpen {
  font-weight: bold;
}
.documentation .docFunctionTitle.IsOpen .docDescription {
  font-size: 15px;
}
.documentation .docFunctionName {
  font-size: 18px;
  display: inline-block;
  width: 330px;
}
.documentation .docDescription {
  font-size: 12px;
  color: #808080;
}
.documentation .docInsertCode {
  border: 1px solid #333333;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #222222;
}
.documentation .docInsertCode .docCode {
  color: #00ad8d;
}
.documentation .flagText {
  color: #11b011;
}
.documentation .docParameterTarget {
  color: #11b011;
}
.documentation .docAffects {
  float: right;
  font-size: 11px;
  color: #808080;
}
.documentation .docTags {
  float: right;
  font-size: 10px;
  color: #707070;
  font-style: italic;
}
.documentation .docLongDescription {
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}
.documentation .docTableTitle {
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #39b6ff;
}
.documentation .docTableTitle .docAddNote {
  font-size: 11px;
  color: #888888;
}
.documentation .docParameters {
  border: 1px solid #333333;
  background: #222222;
}
.documentation .docParameters thead {
  background: #333333;
}
.documentation .docParameters tr {
  padding: 0;
  margin: 0;
}
.documentation .docParameters th {
  border-bottom: 1px solid #333333;
  font-size: 12px;
  text-align: left;
  font-style: italic;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
}
.documentation .docParameters td {
  padding-left: 5px;
  padding-right: 15px;
  vertical-align: top;
  font-size: 12px;
}
.documentation .docParameters .docParameterName,
.documentation .docParameters .docFlagName {
  white-space: nowrap;
}
